.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**

.gitignore
.npmrc
.vscode-test.mjs
CLAUDE.md
esbuild.js
vitest.config.js
vitest.config.js.map
pnpm-lock.yaml

**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
